<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.author.name }}" />

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Le styles -->
    <script
      src="https://kit.fontawesome.com/79357dcd9c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="{{ site.BASE_PATH }}/assets/resources/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css"
      rel="stylesheet"
    />
    <link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css"
    />
  </head>

  <body>
    <nav
      class="navbar navbar-default navbar-fixed-top visible-xs"
      role="navigation"
    >
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a
          type="button"
          class="navbar-toggle dropdown-toggle"
          data-toggle="dropdown"
        >
          <i class="fas fa-bars"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="{{ site.BASE_PATH }}/"
              ><i class="fas fa-home fa-fw"></i>Home</a
            >
          </li>
          <li>
            <a href="{{ site.BASE_PATH }}/{{ site.publications_path }}"
              ><i class="fas fa-folder fa-fw"></i>Publications</a
            >
          </li>
          <li>
            <a href="{{ site.BASE_PATH }}/{{ site.cv-pdf_path }}"
              ><i class="fas fa-file fa-fw"></i>CV</a
            >
          </li>
          <li class="divider"></li>
          {% if site.author.linkedin %}
          <li>
            <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
              <i class="fab fa-linkedin fa-fw"></i>LinkedIn
            </a>
          </li>
          {% endif %} {% if site.author.github %}
          <li>
            <a href="https://github.com/{{ site.author.github }}">
              <i class="fab fa-github fa-fw"></i>GitHub
            </a>
          </li>
          {% endif %} {% if site.author.researchgate %}
          <li>
            <a
              href="https://www.researchgate.net/profile/{{ site.author.researchgate }}"
            >
              <i class="fab fa-researchgate fa-fw"></i>ResearchGate
            </a>
          </li>
          {% endif %} {% if site.author.orcid %}
          <li>
            <a href="https://orcid.org/{{ site.author.orcid }}">
              <i class="fab fa-orcid fa-fw"></i>ORCID
            </a>
          </li>
          {% endif %}
          <li class="divider"></li>
          {% if site.author.email %}
          <li>
            <a href="mailto:{{ site.author.email }}">
              <i class="fas fa-envelope fa-fw"></i>Email
            </a>
          </li>
          {% endif %}
        </ul>

        <a class="navbar-brand" href="{{ site.BASE_PATH }}/">
          <img
            src="{{ site.author.avatar }}"
            class="img-circle"
            width="32"
            height="32"
          />
          {{ site.author.name }}
        </a>
      </div>
    </nav>

    <div class="col-sm-3 sidebar hidden-xs">
      {% include sidebar.html %}
    </div>

    <div class="col-sm-9 col-sm-offset-3 hidden-xs">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="top-navbar-hidden-xs">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ site.BASE_PATH }}/">Home</a></li>
              <li><a href="{{ site.BASE_PATH }}/{{ site.publications_path }}">Publications</a></li>
              <li><a href="{{ site.BASE_PATH }}/{{ site.cv-html_path }}">CV</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="col-sm-9 col-sm-offset-3" align="left">
      {{ content }}

      <footer>
        <hr />
        <p style="font-size: 85%;">
          &copy; {{ site.time | date: '%Y' }} {{ site.author.name }} with
          <a href="http://jekyllrb.com/">Jekyll</a>. Theme:
          <a href="https://github.com/dbtek/dbyll">dbyll</a> by dbtek.
        </p>
      </footer>
    </div>

    <script
      type="text/javascript"
      src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ site.BASE_PATH }}/assets/js/app.js"
    ></script>
  </body>
</html>
