<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Mengyang Qiu</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">

	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Le styles -->
	<link href="{{ site.BASE_PATH }}/assets/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/fontawesome.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">

	<!-- <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.BASE_PATH }}/feed.xml">-->
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top visible-xs" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a type="button" class="navbar-toggle dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-bars"></i>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="{{ site.BASE_PATH}}/"><i class="fa fa-home"></i>Home</a></li>
				<li><a href="pub/CV_Mengyang.pdf" target="_blank"><i class="fa fa-file"></i>CV</a></li>
				<li><a href="{{ site.BASE_PATH}}/{{ site.publications_path }}"><i
							class="fa fa-folder"></i>Publications</a></li>
				<li class="divider"></li>
				<div id="contact-list" class="text-center">
					<ul class="list-unstyled list-inline">
						{% if site.author.github %}
						<li><a class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
								<i class="fa fa-orcid"></i>
							</a>
						</li>
						{% endif %}
						{% if site.author.linkedin %}
						<li><a class="btn btn-default btn-sm"
								href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						{% endif %}
						{% if site.author.email %}
						<li><a class="btn btn-default btn-sm" href="mailto:{{ site.author.email }}">
								<i class="fa fa-envelope"></i>
							</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</ul>

			<a class="navbar-brand" href="{{ site.BASE_PATH }}/">
				<img src="pub/mengyang.jpeg" class="img-circle" width="32" height="32" />
				{{ site.author.name }}
			</a>
		</div>
	</nav>

	<div class="col-sm-3 sidebar hidden-xs">
		{% include sidebar.html %}
	</div>

	<div class="col-sm-9 col-sm-offset-3 hidden-xs">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li><a href="/cv.html">CV</a></li>
						<li><a href="/#publications">Publications</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<div class="col-sm-9 col-sm-offset-3" align="left">
		{{ content }}

		<footer>
			<hr />
			<p style="font-size:50%;">
				&copy; {{ site.time | date: '%Y' }} {{ site.author.name }} with <a
					href="http://jekyllrb.com/">Jekyll</a>. Theme: <a href="https://github.com/dbtek/dbyll">dbyll</a> by
				dbtek.
			</p>
		</footer>
	</div>

	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
</body>

</html>