<!-- sidebar.html -->
<div class="sidebar-header" role="banner">
  <a href="{{ site.BASE_PATH }}/">
    <!--<img src="pub/mengyang.jpeg" class="img-circle" width="250" height="250" />-->
    <img
      src="{{ site.author.avatar }}"
      class="img-circle"
      style="height: 75%; width: 75%; object-fit: contain"
    />
  </a>
</div>

<!-- sidebar.html -->
<div class="sidebar-header" role="banner">
  <h3 class="title">
    <a href="{{ site.BASE_PATH }}/" style="font-size: 1.55vw">{{ site.title }}</a>
  </h3>
</div>

<div id="bio" class="text-center">
  {% if site.author.bio %} {{ site.author.bio }} {% endif %}
</div>

<div id="contact-list" class="text-center">
  <!--<ul class="list-unstyled list-inline">
		{% if site.author.linkedin %}
		<li><a class="btn btn-default btn-sm" href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
				<i class="fab fa-linkedin fa-lg"></i>
			</a>
		
		{% endif %}
		{% if site.author.github %}
		<li><a class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
				<i class="fab fa-github fa-lg"></i>
			</a>
		
		{% endif %}
		{% if site.author.researchgate %}
		<li><a class="btn btn-default btn-sm"
				href="https://www.researchgate.net/profile/{{ site.author.researchgate }}">
				<i class="fab fa-researchgate fa-lg"></i>
			</a>
		
		{% endif %}
		{% if site.author.orcid %}
		<li><a class="btn btn-default btn-sm" href="https://orcid.org/{{ site.author.orcid }}">
				<i class="fab fa-orcid fa-lg"></i>
			</a>
		
		{% endif %}
		{% if site.author.email %}
		<li><a class="btn btn-default btn-sm" href="mailto:{{ site.author.email }}">
				<i class="fas fa-envelope fa-lg"></i>
			</a>
		
		{% endif %}
	</ul>-->
  <ul class="list-unstyled list-inline">
    {% if site.author.linkedin %}
    <li>
      <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>

      {% endif %} {% if site.author.osf %}
    </li>

    <li>
      <a href="https://osf.io/{{ site.author.osf }}">
        <i class="ai ai-osf ai-lg"></i>
      </a>

      {% endif %} {% if site.author.orcid %}
    </li>

    <li>
      <a href="https://orcid.org/{{ site.author.orcid }}">
        <i class="fab fa-orcid fa-lg"></i>
      </a>

      {% endif %}
    </li>
  </ul>
  <ul id="contact-list-secondary" class="list-unstyled list-inline">
    {% if site.author.researchgate %}
    <li>
      <a
        href="https://www.researchgate.net/profile/{{ site.author.researchgate }}"
      >
        <i class="ai ai-researchgate ai-lg"></i>
      </a>

      {% endif %} {% if site.author.github %}
    </li>

    <li>
      <a href="https://github.com/{{ site.author.github }}">
        <i class="fab fa-github fa-lg"></i>
      </a>

      {% endif %} {% if site.author.email %}
    </li>

    <li>
      <a href="mailto:{{ site.author.email }}">
        <i class="fas fa-envelope fa-lg"></i>
      </a>

      {% endif %}
    </li>
  </ul>
</div>

<!-- sidebar.html end -->
