<!-- sidebar.html -->
<div class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<!--<img src="pub/mengyang.jpeg" class="img-circle" width="250" height="250" />-->
		<img src="pub/mengyang.jpeg" class="img-circle" style='height: 100%; width: 100%; object-fit: contain' />
	</a>
	
</div>

<!-- sidebar.html -->
<div class="sidebar-header" role="banner">
<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">Mengyang Qiu</a>
    </h3>
</div>
<div id="bio" class="text-center">
	I study language and memory disorders
</div>

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		<li>
			<a class="btn btn-default btn-sm" href="https://github.com/mengyangq">
				<i class="fa fa-github-alt fa-lg"></i>
			</a>
		</li>
		<li>
			<a class="btn btn-default btn-sm" href="https://www.linkedin.com/in/mengyangqiu">
				<i class="fa fa-linkedin fa-lg"></i>
			</a>
		</li>
		<li>
			<a class="btn btn-default btn-sm" href="mailto:mengyang@buffalo.edu">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
	</ul>
</div>


<!-- sidebar.html end -->
